<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type=text/javascript>
        var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <title>Mario for the Blind</title>
</head>

<body style="background: #000; color: #FFF; text-align: center; font-family: Helvetica">
    <div id="things">
        <h1 style="font-size:100px; text-align: center;">Mario for the Blind</h1>
        <div style="margin-bottom: 18px;">When you hear the theme song, start playing</div>
        <div style="margin-bottom: 18px;">Controls: left / right / up / down to move, z to run and x to jump</div>


        <div id="emulator" style="display: none;"></div>
        <!-- <canvas id="viewer" width="256" height="240" style="float: left;"></canvas> -->
        <!-- <div id="objects"></div> -->
        <a style="color: #FFF;" href="javascript:$('#emulator').show()">EASY MODE</a>
    </div>
    <script src="{{ url_for('static', filename='lib/jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>

    <!-- midi.js package -->
	<script src="{{ url_for('static', filename='lib/MIDI/AudioDetect.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='lib/MIDI/LoadPlugin.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='lib/MIDI/Plugin.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='lib/MIDI/Player.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='lib/Window/DOMLoader.XMLHttp.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='lib/Base64.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='lib/base64binary.js') }}" type="text/javascript"></script>

    <!-- JSNES package -->
    <script src="{{ url_for('static', filename='lib/dynamicaudio-min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='lib/timbre.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='lib/gamepad.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/nes.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/utils.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/cpu.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/keyboard.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/mappers.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/papu.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/ppu.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/rom.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/ui.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/board.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/synth.js') }}" type="text/javascript" charset="utf-8"></script>

    <!-- Mario package -->
    <script src="{{ url_for('static', filename='source/object-extractor.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/main.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='source/midi.js') }}" type="text/javascript" charset="utf-8"></script>
    <!--[if IE]>
        <script type="text/vbscript" src="{{ url_for('static', filename='source/jsnes-ie-hacks.vbscript') }}"></script>
    <![endif]-->
    <audio id="theme" src="{{ url_for('static', filename='audio/theme.mp3') }}">
</body>
</html>
